@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    text-align: center;
}

body,html{
    width: 100%;
    height: auto;
    background: #5e5e5e;
}

body {
    background-color: #fafafa;
    font-family:  Trebuchet MS,Heverica;
}

/*------------------------------------------------------*/


#links {
    width: 300px;
    padding-top: 10px;
}

a.link {
    color: #343434;
    text-decoration: none;
}

a.link:hover {
    color: #b0b0b0;
}

header {
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: #fff;
    float: left;
    position: fixed;
}

div#s {
    width: 130px;
    float: left;
    line-height: 25px;
}

div#if {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    padding-top: 22px;
    margin-bottom: 10px;
}
/*------------------------------------------------------*/

header #logo {
  color: #fff;
  cursor: pointer;

}

header #logo img{
    width: 190px;
    height: 80px;
    padding-left: 80px;
}


@media (min-width: 701px) {
    #logo {
        float: left;
        width: 20%;
        font-size:1.1em;
    }

    #about {
        float: left;
        width: 520px;
    }
}



@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.1em;
    }

        #about {
        float: left;
        width: 100%
    }
}

/*------------------------------------------------------*/

div#if {
    text-align: center;
    font-size: 1em;
    float: left;
    width: 160px;
    line-height: 40px;
    padding-top: 23px;
    margin-bottom: 10px;
}

#if a {
    text-decoration: none;
    color: #fff;
}

#if a:hover {
    color: #b0b0b0;
    text-decoration: none;
}

#about {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    padding-top: 15px;
    margin-bottom: 10px;
}

#about a {
    color: #fff;

}

#about a:hover {
  color: #b0b0b0;
  text-decoration: none;
}

#about a:not(:last-child) {
  margin-right: 7%;
}

#about form {color: #fff}

#about form:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#about form:not(:last-child) {
  margin-right: 7%;
}

#about a {
    text-decoration: none;
}

#vhod {
    text-align: center;
    float: right;
    font-size: 1em;
    width: 640px;
    line-height: 40px;
    padding-top: 15px;
    padding-right: 200px;
    margin-bottom: 10px;
}

#vhod a {

}

#vhod a:hover {
  color: #b0b0b0;
  text-decoration: none;
}

#vhod a:not(:last-child) {
  margin-right: 7%;
}

#vhod form {color: #fff}

#vhod form:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#vhod form:not(:last-child) {
  margin-right: 7%;
}

#vhod a {
    text-decoration: none;
}

/*------------------------------------------------------*/

.fixed {
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver; 
}

header.fixed #logo{
    color: #fff;
}

.fixed #about a {color: #343434}

.fixed #about a:hover {color: #7c7c7c}

.fixed  #if a {
    
    color: #343434;
}

.fixed  #if a:hover {
    color: #b0b0b0;
    
}

.fixed  #vhod a {
    color: #343434;
    
}

.fixed  #vhod a:hover {
    color: #b0b0b0;
    
}

/*------------------------------------------------------*/

.fixed {
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver; 
}

header.fixed #logo{
    color: #343434;
}

.fixed #about a {color: #343434}

.fixed #about a:hover {color: #7c7c7c}

.fixed  #if a {
    
    color: #343434;
}

.fixed  #if a:hover {
    color: #b0b0b0;
    
}

/*------------------------------------------------------*/

#top {
    width: 100%;
    height: auto;
    background-image: url(https://realtybang.info/wp-content/uploads/2021/06/leaminton-min.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: cover;
    text-align: center;
    font-size: 3em;  
}

@media (min-width: 1001px){
    #top {
        font-size: 3em;
    }

}

@media (max-width: 1001px) and (min-width: 651px){
    #top {
        font-size: 2em;
    }

}

@media (max-width: 650px){
    #top {
        font-size: 1.3em;
        padding-top: 50%;
    }

}

#top h1 {
    color: #fff;
    padding-top: 20%

}

#top h4 {
    color: #fff;
    padding-top: 10%

}

#top h3 {
    color: #ccc;
    padding: 10px;
}

/*------------------------------------------------------*/

#main #intros {
    text-align: center;
    float: revert;
    width: 100%;
    font-size: 1.5em;
}

#main {
    padding: 80px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em; 
}

@media (min-width: 1401px){
    #main {
        padding: 100px 20%;
        width: 60%;
    }
}

@media (max-width: 1400px){
    #main {
        padding: 100px 10%;
        width: 80%;
    }
}

@media (max-width: 1000px){
    #main  div{
        width: 98%!important;
        margin-bottom: 20px;
    }
}

#main .intro, .text ,.intro1 ,.text2 {
    width: 48%;
    margin-right: 2%;
    float: left;
}

#main h2 {font-size: 3em;}
#main span {
    font-size: 15px;
}



/*------------------------------------------------------*/

/*------------------------------------------------------*/


#PD {
    padding: 10px 5%;
    width: 90%;
    height: 170px;
    background-color: #585858;
    border-top: 2px solid silver;
    float: left;

}


#PD {

    font-size: 1em;
    line-height: 30px;
   

}

#PD .heading {
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
}

#PD p {
  font-family: Arimo, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 0.95em;
  
}

#PD .V1 {
    float: left;
    left: 20px;
    top: 5px;
    width: 300px;
    height: 64px;
}

#PD a {
    text-decoration: none;
    color: #fff
    
}

#PD a:hover {
  text-decoration: underline;
  
}

#PD .F1 {
    float: right;
    right: 20px;
    top: 20px;
    width: 273px;
    height: 64px;
}

#PD .F1 {
    font-size: 0.8em; 
}

img.icon {
    float: left;
    width: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#icon {
    float: left;
    width: 30px;
    height: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
}


/*------------------------------------------------------*/

#papup_1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(31, 28, 35, 0.8); ;
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

#papup_1:target {
    opacity: 1;
    visibility: visible;
}

/*------------------------------------------------------*/

#papup_2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(31, 28, 35, 0.8); ;
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

#papup_2 small {
    color: red;
}

#papup_2:target {
    opacity: 1;
    visibility: visible;
}

/*------------------------------------------------------*/

#papup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

#papup_content {
    background-color: #fff;
    color: #000;
    max-width: 450px;
    padding: 30px;
    position: relative;
}

#papup_content small {
    color: red;
    padding: 6px 10px;
    padding-left: 30px;
    width: 200px;
    opacity: .8;
    border-radius: 10px;
}


#popup_title {
    font-size: 40px;
    margin: 0px 0px 15px 0px;
}

#popup_title1 {
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 15px 0px;
}

#popup_title2 {
    text-align: center;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}

#popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}


#form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #53d1e5;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 15px;
}

#form button:hover,.form button:active,.form button:focus {
  background: #30638d;
}

#form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  
}

btn descending {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial;
    height: 35px;
    border-radius: 18px;
    padding: 0 25px;
    margin-left: 15px;
    color: #fff;
    font-family: 'Rotonda', arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #a3a0ad;
    line-height: 35px;
    border: 0;
    float: left;
}

btn ascending {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial;
    height: 35px;
    border-radius: 18px;
    padding: 0 25px;
    margin-left: 15px;
    color: #fff;
    font-family: 'Rotonda', arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #a3a0ad;
    line-height: 35px;
    border: 0;
    float: left;
}

/*------------------------------------------------------*/


.proff {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid silver;
    border-radius: 15px;
}

h3.proff-name {
    /* border-bottom: 2px solid silver; */
    width: 100%;
}

#img-profle img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img, .img-profle {
    width: 250px;
    height: 170px;
    padding: 10px;
    display: block;
    margin-left: auto;
    float: left;
    margin-right: auto;
}

.name-proff {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-field__input {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-family: inherit;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bdbdbd;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .text-field__input::placeholder {
      color: #212529;
      opacity: 0.4;
    }

    .text-field__input:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

    .text-field__input:disabled,
    .text-field__input[readonly] {
      background-color: #f5f5f5;
      opacity: 1;
    }
/*------------------------------------------------------*/

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
}
 
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: #01b3ff;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

img.input__file-icon {
    width: 30px;
}

.form-group {
    padding-bottom: 15px;
}

.im {
    padding-top: 12px;
}


a.btn1 {
    border-radius: 18px;
    padding: 5px 12px;
    color: #fff;
    background-color: #424242;
    line-height: 25px;
    border: 0;
}

a.btn2 {
    border-radius: 18px;
    padding: 5px 12px;
    color: #fff;
    background-color: #424242;
    line-height: 25px;
    border: 0;
}

.nutro {
    text-align: center;
    padding: 10px;
}

.proff-text {
    color: black;
    font-size: 17px;
}

select {
    display: block;
    width: 105%;
    height: calc(3.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#btn1 {
  font-size: 15px;
  text-decoration: none;
}

#btn2 {
  font-size: 15px;
  text-decoration: none;  
}

.btn1:target{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(158 158 158 / 25%);
}

.btn2:target{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(158 158 158 / 25%);
}

.block .btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial;
    height: 35px;
    border-radius: 18px;
    padding: 0 25px;
    color: #fff;
    font-family: 'Rotonda', arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #a3a0ad;
    line-height: 35px;
    border: 0;
    float: left;

}

.block .btn:hover {
    background: #b0b0b0;
}


.inside {
    border: 1px solid transparent;
    border-radius: 15px;
    position: relative;
    float: left;
    border-color: #65697a;
    margin-left: -1px;
    margin-right: -1px;
    width: max-content;
    margin-top: 10px;
    height: 210px;
}

.name {
    margin-bottom: 10px;
}

.description {
    height: 183px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
    padding: 13px 20px;
    width: 400px;
}

.block .name a {
    font-size: 16px;
    text-align: center;
    float: left;
    color: #131313;
    line-height: 24px;
    font-family: 'Rotonda', arial, sans-serif;
    text-decoration: none;
}


.price {
    font-size: 22px;
    color: #a3a0ad;
    line-height: 24px;
    width: 150px;
    float: left;
    padding: 90px 15px;
    font-family: 'Rotonda', arial, sans-serif;
    margin-bottom: 20px;
}

.text1 {
    text-align: left;
    font-size: 20px;
}

.price_op {
    font-size: 22px;
    color: #a3a0ad;
    line-height: 24px;
    width: 300px;
    float: left;
    padding: 13px 15px;
    font-family: 'Rotonda', arial, sans-serif;
    margin-bottom: 20px;
}

.add {
    padding: 90px 15px;;
    width: 160px;
    float: left;
    height: 35px;
}

.update {
    padding: 20px 15px;;
    width: 160px;
    float: left;
    height: 35px;
}

.block {
    
    text-align: center;
    border-color: #d6d4d4;
    box-sizing: border-box;
    margin-bottom: 0;
    height: 75px;
    width: max-content;
}

a.btn.item_add_to_cart {
}

.delete {
    width: 681.859px;
    padding-top: 5px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial;
    height: 35px;
    border-radius: 18px;
    padding: 0 25px;
    margin-left: 15px;
    color: #fff;
    font-family: 'Rotonda', arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #a3a0ad;
    line-height: 35px;
    border: 0;
    float: left;

}

.p {
    font-size: 20px;
    text-align: left;
}

#p {
    font-size: 20px;
    text-align: left;
}

a.btn.item_add_to_cart2 {
}

.search {
    float: right;
}

.search1 {
    float: left;
}

input[type="text"] {
    margin-left: 10px;
}
input#kk {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial;
    height: 35px;
    border-radius: 18px;
    padding: 0 25px;
    color: #fff;
    font-family: 'Rotonda', arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #a3a0ad;
    line-height: 35px;
    border: 0;
    float: left;
}

/*--------------------------------------*/

#item {

    padding: 0px 5% 100px 100px;

    background-color: #f6f6f6;
    border-top: 2px solid silver;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
    height: 100%;
}

#item label {
    float: left;

}

.item-product {

    padding: 5px ;

    background-color: #f6f6f6;
    font-size: 1em;
    line-height: 40px;
    padding-bottom: 10px;
    padding-left: 340px;
    padding-top: 50px;
    height: 100%;
    width: 80%;
    float: left;
}

.item-product1 {

    padding: 5px ;

    background-color: #f6f6f6;
    font-size: 1em;
    line-height: 40px;
    padding-bottom: 10px;
    padding-left: 340px;
    padding-top: 50px;
    height: 100%;
    width: 80%;
    float: left;
}

.add1 {
    float: left;
    padding-left: 50px;
}

.add2 {
    float: left;
    padding-left: 50px;
}

.item-content {
    display: flex;
    width: 74%;
    border: 1px solid #e6e6e6;
    padding: 10px;
}

.item-left  {
    width: 50%;
}

.form-group .img1 {
    width: 400px;
    height: 300px;
}

.form-group .img2 {
    width:100px;
    padding: 0px 11px 0px 11px;
}

.item-rignt {
    width: 50%;
    padding-left: 30px;
    border-left: 1px solid #e6e6e6;
}

.item-rignt-content-mini {
    border-top: 2px solid #e6e6e6;
    padding-top: 10px;
}

.item-rignt label {
    float: left;
}

.blok {
    padding: 10px;

}

.item-rignt-content-info {
    border-top: 2px solid #e6e6e6;
}


.prices {
    padding-bottom: 10px;
}

label#le1 {
    float: left;
    width: 150px;
}

label#le3 {
    float: left;
    width: 205px;

}

label#le4 {
    float: left;
    width: 65%;
    font-size: 40px;
}

.btn:hover {
    background-color: #01b3ff;
}

.btn2:hover {
    background-color: #01b3ff;
}

p.p1-green {
    color: #4CAF50;
}

p.p2-green {
    color: #4CAF50;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

.text-field__input1 {
    display: block;
    float: left;
    width: 88%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input1_name {
    display: block;
    float: left;
    width: 88%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input1_open {
    margin-left: 10px;
    display: block;
    float: left;
    width: 88%;
    height: calc(9.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input1::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input1:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input1:disabled,
.text-field__input1[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

.text-field__input2 {
    display: block;
    margin-left: 10px;
    float: left;
    width: 88%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input3 {
    display: block;
    float: left;
    width: 80%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#le5 {
    font-size: 40px;
    padding-left: 10px;
    line-height: 1.3;
}

.btn2 {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial;
    height: 50px;
    width: 300px;
    border-radius: 18px;
    padding: 0 25px;
    margin-left: 15px;
    color: #fff;
    font-family: 'Rotonda', arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #a3a0ad;
    line-height: 35px;
    border: 0;
    float: left;

}