@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap');

*{
	margin: 0;
	padding: 0;
	outline: none;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
}

body,html{
	width: 100%;
	background: #5e5e5e;
}

body {
	background-color: #fafafa;
	font-family:  Trebuchet MS,Heverica;
}

/*------------------------------------------------------*/


#links {
	width: 300px;
    padding-top: 10px;
}

a.popap-link {
    color: #000;
    text-decoration: none;
}

a.popap-link:hover {
    color: #b0b0b0;
}

header {
	width: 100%;
	padding: 10px 0.5% 0px 0.5%;
	background: #ffffff;
	float: left;
	position: fixed;
	z-index: 99;
	border-bottom: 1px solid silver;
}


div#s {
    width: 130px;
    float: left;
    line-height: 25px;
}

div#if {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    padding-top: 22px;
    margin-bottom: 10px;
}
/*------------------------------------------------------*/

header #logo {
  color: #fff;
  cursor: pointer;

}

header #logo img{
	width: 180px;
	height: 80px;
	padding-left: 80px;
}

@media (min-width: 701px) {
	#logo {
		float: left;
		width: 20%;
		font-size:1.1em;
	}

	#about {
		float: left;
		width: 600px;
	}
}



@media (max-width: 700px) {
	#logo {
		margin-top: 15px;
		width: 100%;
		font-size: 1.1em;
	}

		#about {
		float: left;
		width: 100%
	}
}

/*------------------------------------------------------*/


#about {
	text-align: center;
    font-size: 1em;
    line-height: 40px;
    padding-top: 15px;
    margin-bottom: 10px;
}

#about a {
	color: #fff;

}

#about a:hover {
  color: #b0b0b0;
  text-decoration: none;
}

#about a:not(:last-child) {
  margin-right: 7%;
}

#about form {color: #fff}

#about form:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#about form:not(:last-child) {
  margin-right: 7%;
}

#about a {
    text-decoration: none;
}

#vhod {
	text-align: center;
    float: right;
    font-size: 1em;
    width: 640px;
    line-height: 40px;
    padding-top: 15px;
    padding-right: 200px;
    margin-bottom: 10px;
}

#vhod a {
	color: #343434;

}

#vhod a:hover {
  color: #b0b0b0;
  text-decoration: none;
}

#vhod a:not(:last-child) {
  margin-right: 7%;
}

#vhod form {color: #fff}

#vhod form:hover {
  color: #b0b0b0;
  text-decoration: underline;
}

#vhod form:not(:last-child) {
  margin-right: 7%;
}

#vhod a {
    text-decoration: none;
}

/*------------------------------------------------------*/

.fixed {
	z-index: 99;
	background-color: #fff;
	border-bottom: 1px solid silver; 
}

header.fixed #logo{
	color: #343434;
}

.fixed #about a {color: #343434}

.fixed #about a:hover {color: #7c7c7c}

.fixed  #if a {
	
    color: #343434;
}

.fixed  #if a:hover {
	color: #b0b0b0;
	
}

.fixed  #vhod a {
	color: #343434;
	
}

.fixed  #vhod a:hover {
	color: #b0b0b0;
	
}

/*------------------------------------------------------*/

#overiew {
	float: left;
	background-image:
	url(images/163.jpg);

	background-blend-mode: multiply;
	background-color: #1c697585;
	background-size: cover;
	background-attachment: fixed;

	padding-top: 100px;
	padding-bottom: 100px;
	width: 100%;
	text-align:center;
	color: #fff;
}

#overiew h2 {font-size: 4em; color: #fff}
#overiew h4 {color: #ccc; font-size: 1.5em;}

#overiew .img {
	float: left;
    width: 515px;
    margin-right: 145px;
    margin-top: 50px;
    margin-left: 350px;
}

#overiew .img2 {
	float: left;
    width: 515px;
    margin-right: 3%;
    margin-top: 50px;
    margin-left: 20px;
}

#overiew a {
    text-decoration: none;
    color: #fff;
}

#overiew .img:nth-child(odd) {
	margin-left: 36%;
}

.overiew1 img {
	background: #fafafa;
	padding: 5px;
	border: 2px solid silver;
	float:  left;
	width: 100%;
	max-width: 500px;
	border-radius: 30px;
}

.overiew1 span {
	float: left;
	width: 100%;
	font-size: 2em;
	margin-top: 10px;
}

@media (max-width: 1000px) {
	#overiew .img {

	width: 80%!important;
	margin-right: 0!important;
	margin-left: 10%!important;

	}
}

/*------------------------------------------------------*/

#PD {
	float: left;
	padding: 10px 5%;
	width: 90%;
	border-top: 2px solid silver;

}


#PD {

	font-size: 1em;
	line-height: 30px;
	margin-bottom: 10px;

}

#PD .heading {
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
}

#PD p {
  font-family: Arimo, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 0.95em;
  
}

#PD .V1 {
	float: left;
    left: 20px;
    top: 5px;
    width: 300px;
    height: 64px;
}

#PD a {
	text-decoration: none;
	color: #fff
	
}

#PD a:hover {
  text-decoration: underline;
  
}

#PD .F1 {
	float: right;
    right: 20px;
    top: 20px;
    width: 273px;
    height: 64px;
}

#PD .F1 {
	font-size: 0.8em; 
}


/*------------------------------------------------------*/

#papup_1 {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:rgba(31, 28, 35, 0.8); ;
	top:0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

#papup_1:target {
	opacity: 1;
	z-index: 100;
	visibility: visible;
}

/*------------------------------------------------------*/

#papup_2 {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:rgba(31, 28, 35, 0.8); ;
	top:0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

#papup_2 small {
	color: red;
}

#papup_2:target {
	z-index: 100;
	opacity: 1;
	visibility: visible;
}

/*------------------------------------------------------*/

#papup_3 {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:rgba(31, 28, 35, 0.8); ;
	top:0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

#papup_3:target {
	z-index: 100;
	opacity: 1;
	visibility: visible;
}

/*------------------------------------------------------*/
#papup_body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

#papup_content {
	background-color: #fff;
	color: #000;
	max-width: 450px;
	padding: 30px;
	position: relative;
}

#papup_content small {
    color: red;
    padding: 6px 10px;
    padding-left: 30px;
    width: 200px;
    opacity: .8;
    border-radius: 10px;
}


#popup_title {
	font-size: 40px;
	margin: 0px 0px 15px 0px;
}

#popup_title1 {
	text-align: center;
	font-size: 40px;
	margin: 0px 0px 15px 0px;
}

#popup_title2 {
	text-align: center;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}

#popup_close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}


#form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #53d1e5;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 15px;
}

#form button:hover,.form button:active,.form button:focus {
  background: #30638d;
}

#form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 10px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  
}

/*-------------------------------------*/

